@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


body {
    background-color: grey;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    border-radius: 10px;
    border-width: 2px;
}